{% load staticfiles %}
{% block header %}
  {% include 'home/base.html' %}
{% endblock %}

{% block content  %}

    <div style="margin-left:20px; margin-top:20px;">
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div>
            <h2 style="font-size: 20px;font-weight: bold;"><span class=".uk-text-lead" style="font-family: Kanit">แบบคำร้อง/เอกสารบัณฑิต</span></h2>
            <table class="uk-table uk-table-middle uk-table-divider" style="font-family: Kanit;">
                <tbody>
                  <tr style="font-family: Kanit">
                      {% if request.user.is_authenticated %}
                      <!-- <input type="button" value="upload file"> -->
                      <form action="{% url 'uploadfile' %}" >
                          <input type="submit" value="upload" />
                      </form>
                      <!-- <a href="{% url 'logout' %}">logout</a> -->                     
                  {% endif %}
                      <td style="font-family: Kanit">
                        {% for document in all_document %}
                          <a class=".uk-text-lead" href="/files/files/{{document.file}}" download> {{ document.title }}</a>
                          {% if document.url %}
                            <a class=".uk-text-lead" href="{{document.url}}"> &nbsp;(Online) </a>
                          {% endif %}
                          {% if request.user.is_authenticated %}
                          <a class=".uk-text-lead" href="/documents/documentdel/{{ document.id }}/">delete</a>
                      {% endif %}
                        <br>
                        {% endfor %}
                      </td>
                  </tr>
                  <td>
                  </td>
                </tbody>
            </table>
          </div>
          <div>
            <h2 style="font-size: 20px;font-weight: bold;"><span class=".uk-text-lead" style="font-family: Kanit">แบบฟอร์มภาษาอังกฤษ(สำหรับนักศึกษาต่างชาติ)</span></h2>
            <table class="uk-table uk-table-middle uk-table-divider">
                <tbody>
                  <tr style="font-family: Kanit">
                      {% if request.user.is_authenticated %}
                      <form action="{% url 'uploadEngdocfile' %}">
                          <input type="submit" value="upload" />
                      </form>
                  {% endif %}
                      <td style="font-family: Kanit">
                        {% for EngDocument in all_EngDocument %}
                          <a class=".uk-text-lead" href="/files/{{EngDocument.file}}" download> {{ EngDocument.title }}</a>
                          {% if EngDocument.url %}
                            <a class=".uk-text-lead" > &nbsp;(Online) </a>
                          {% endif %}
                          {% if request.user.is_authenticated %}
                          <a class=".uk-text-lead" href="/documents/engdocdel/{{ EngDocument.id }}/">delete</a>
                      {% endif %}<br>
    
                        {% endfor %}
                      </td>
                  </tr>
                  <td>
                  </td>
                </tbody>
            </table>
          </div>
        </div>
        <h3 style="margin-top:0;font-family: Kanit;font-size: 20px;font-weight: bold;">รูปแบบการทำวิทยานิพนธ์ และขั้นตอน</h3>
        {% if request.user.is_authenticated %}
        <form action="{% url 'uploadform' %}">
            <input type="submit" value="upload" />
        </form>
        {% endif %}
        {% for form in all_form %}
          <a class=".uk-text-lead" href="/documents/{{ form.id }}/" style="font-family: Kanit"> {{ form.title }}</a>
          
             
          {% if request.user.is_authenticated %}
            <a class=".uk-text-lead" href="/documents/formdel/{{ form.id }}/" style="font-family: Kanit">delete</a>
          {% endif %}<br>
      
        {% endfor %}

    </div>

{% endblock %}


{% block footer %}
  {% include 'home/base2.html' %}
{% endblock %}
