{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SCITU</title>
    {% load staticfiles %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'home/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/hamburger.css' %}" />
     <link href="https://fonts.googleapis.com/css?family=Kanit&amp;subset=thai" rel="stylesheet">
    <script src="{% static 'home/uikit.min.js' %}"></script>
    <style>
    </style>
</head>
<body style="font-family: Kanit">
  <!-- style="  font-family: Arial, sans-serif; font-size : 15px;" -->

    <div class="uk-position-relative" style="position: fixed;top: 0; overflow: hidden; " >
        <div style="position: fixed; top:0 ; z-index: 1;width: 100%;">
        <nav class="uk-navbar-container" uk-navbar="mode: click" style="background-color:white; height: 0.5%">

            <div class="uk-navbar-left">
                <a href="/">
                    <img src="{% static 'home/pictures/b1.png' %}" style="width:300px; margin: 10px;" />
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a  href="#" style="color:black;font-size: 15px;font-weight: bold; font-family: Kanit"><span class="hover1">บัณฑิตศึกษา</a></span>
                        <div class="uk-navbar-dropdown" style="color:black;font-weight: bold;">
                            <ul class="uk-nav uk-navbar-dropdown-nav" >
                                <li><a href="http://graduate.sci.tu.ac.th:10146/login" style="color:gray;font-size: 15px;">- สำหรับนักศึกษา</a></li>
                                <li><a href="http://hrdb.sci.tu.ac.th:10146/login" style="color:gray;font-size: 15px;">- สำหรับเจ้าหน้าที่</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a  href="/register/" style="color:black; font-size: 15px;font-weight: bold;font-family: Kanit "><span class="hover1">การรับสมัคร</span></a>
                    </li>
                    <li>
                        <a  href="/documents/" style="color:black;font-size: 15px;font-weight: bold;font-family: Kanit"><span class="hover1">แบบคำร้อง/เอกสารบัณฑิต</span></a>
                    </li>
                    <li>
                        <a  href="/meeting/" style="color:black;font-size: 15px;font-weight: bold;font-family: Kanit"><span class="hover1">รายงานการประชุมกรรมการบัณฑิต</span></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}" style="color:black;font-size: 15px;font-weight: bold;font-family: Kanit"><span class="hover1">ออกจากระบบ</span></a>
                    </li>
                  {% endif %}
                </ul>
                <div class="dropdown">
                    <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" style="color:white; background-color: #c00832"></a>
                    <div class="dropdown-content">
                      <a href="/register/">การรับสมัคร</a>
                      <a href="/documents/">แบบคำร้อง/เอกสารบัณฑิต</a>
                      <a href="/meeting/">รายงานการประชุมกรรมการบัณฑิต</a>
                      <a href="http://graduate.sci.tu.ac.th:10146/login">- สำหรับนักศึกษา</a>
                      <a href="http://hrdb.sci.tu.ac.th:10146/login">- สำหรับเจ้าหน้าที่</a>
                      {% if request.user.is_authenticated %}
                      
                          <a href="{% url 'logout' %}">ออกจากระบบ</a>
                      
                    {% endif %}


                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br><br><br><br>
</body>
</html>