{% load staticfiles %}
{% block header %}
  {% include 'home/base.html' %}
{% endblock %}

{% block content  %}
    <div style="margin-left:20px; margin-top:20px;">
        <h2>
            <span class=".uk-text-lead" style="font-family: Kanit;font-size: 20px;font-weight: bold">ข่าวทุนการศึกษาทั้งหมด
            </span>
        </h2>
        {% if request.user.is_authenticated %}
            <form action="{% url 'fundupload' %}">
                <input type="submit" value="upload" style="font-family: Kanit"/>
            </form>
         
            {% endif %}
        <table class="uk-table uk-table-divider uk-table-hover">
            <tbody>
                {% for fund in all_fund %}
                  <tr>
                      <td style="font-family: Kanit;width:20%;">{{ fund.date }}</td>
                      <td>
                          <a class=".uk-text-lead" href="/news/fund/{{ fund.id }}/"style="font-family: Kanit">{{ fund.title }}</a>
                      </td>
                      <td>
                            {% if request.user.is_authenticated %}
                            <a class=".uk-text-lead" href="/news/funddel/{{ fund.id }}/"style="font-family: Kanit">delete</a>
                            {% endif %}
                      </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

   {% endblock %}


{% block footer %}
  {% include 'home/base2.html' %}
{% endblock %}

