{% load staticfiles %}
{% block header %}
  {% include 'home/base.html' %}
{% endblock %}

{% block content  %}


    <div style="margin-left:20px; margin-top:20px;">
        <h2>
            <span class=".uk-text-lead" style="font-family: Kanit;font-size: 20px;font-weight: bold">ข่าวประชาสัมพันธ์ทั้งหมด
            </span>
        </h2>
        {% if request.user.is_authenticated %}
            <form action="{% url 'publicupload' %}">
                <input type="submit" value="upload" style="font-family: Kanit" />
            </form>
         
            {% endif %}
        <table class="uk-table uk-table-divider uk-table-hover">
            <tbody>
                {% for public in all_public %}
                  <tr>
                      <td style="font-family: Kanit;width:20%">{{ public.date }}</td>
                      <td>
                          <a class=".uk-text-lead" href="/news/public/{{ public.id }}/" style="font-family: Kanit">{{ public.title }}</a>
                      </td>
                      <td>
                            {% if request.user.is_authenticated %}
                            <a class=".uk-text-lead" href="/news/publicdel/{{ public.id }}/" style="font-family: Kanit">delete</a>
                            {% endif %}
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block footer %}
  {% include 'home/base2.html' %}
{% endblock %}

